<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ravenKafka" type="Raven.Message.Kafka.Impl.Configuration.App.ClientConfig,Raven.Message.Kafka"/>
  </configSections>
  <appSettings>
    <add key="action" value="ProduceAndForget"/><!--测试方法Produce,ProduceAndForget,ProduceNoAck-->
    <add key="cpu" value="4"/><!--启动任务数-->
    <add key="batchCount" value="100"/><!--批量写入数-->
    <add key="sleepTime" value="10"/><!--休眠时间-->
    <!--测试消息内容-->
    <add key="message" value="{&quot;p1&quot;:1,&quot;p2&quot;:2,&quot;p3&quot;:3}"/>
    <add key="topic" value="tracelog1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <ravenKafka logType="ProducerConsole.ConsoleLog,ProducerConsole">
    <brokers>
      <broker name="perftest" uri="localhost:9092" serializerType="NewtonsoftJson">
        <topics>
          <topic name="producetest">
            <producer acks="1"></producer>
          </topic>
        </topics>
      </broker>
    </brokers>
  </ravenKafka>
</configuration>